[BUG] Cannot login when a cookie contains "invalid" percent encoding

**Describe the bug**
I was trying to login into lldap and was getting this cryptic error:

<img width="453" height="180" alt="Image" src="https://github.com/user-attachments/assets/2bc1de80-e834-4c55-bf64-c952716318fe" />

After some testing, it turns out my `authelia_session` cookie contained a `%` followed by two letters, which when decoded fell outside of the ascii range (e.g., `%ff`). Perhaps lldap is trying to decode all the cookies and fails due to invalid utf-8.

**To Reproduce**
1. Login into lldap
2. Using browser dev tools, add a cookie with name `test` and value `%ff`
3. Refresh the page

<img width="286" height="133" alt="Image" src="https://github.com/user-attachments/assets/c4e666a0-2cd6-4506-bae8-8597d45835a5" />

**Expected behavior**
lldap should not try to parse/decode cookies unrelated to lldap (e.g., `authelia_session`). In fact, I can't find anything in the [specification](https://httpwg.org/specs/rfc6265.html#rfc.section.4.1.1) indicating that cookies should be percent encoded/decoded.

> The semantics of the cookie-value are not defined by this document.
> 
> To maximize compatibility with user agents, servers that wish to store arbitrary data in a cookie-value SHOULD encode that data, for example, using Base64 [[RFC4648]](https://httpwg.org/specs/rfc6265.html#RFC4648).

It is only mentioned that servers are free to encode/decode data however they see fit. See also [RFC6265 Section 4.1.1](https://httpwg.org/specs/rfc6265.html#rfc.section.4.1.1).

**Logs**

```
Mar 12 19:00:35 athena lldap-start[7260]: 2026-03-12T19:00:35.694534714+00:00  INFO     ｉ [info]: starting 1 workers
Mar 12 19:00:35 athena lldap-start[7260]: 2026-03-12T19:00:35.694545310+00:00  INFO     ｉ [info]: Actix runtime found; starting in Actix runtime
Mar 12 19:00:35 athena lldap-start[7260]: 2026-03-12T19:00:35.694560470+00:00  INFO     ｉ [info]: starting service: "ldap", workers: 1, listening on: [::1]:3890
Mar 12 19:00:35 athena lldap-start[7260]: 2026-03-12T19:00:35.694565477+00:00  INFO     ｉ [info]: starting service: "http", workers: 1, listening on: [::1]:17170
Mar 12 19:00:35 athena lldap-start[7260]: 2026-03-12T19:00:35.695816988+00:00  INFO     ｉ [info]: DB Cleanup Cron started
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.427915888+00:00  DEBUG    HTTP request [ 72.1µs | 100.00% ] method: "GET" | uri: "/users"
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.427995153+00:00  DEBUG    ┕━ 🐛 [debug]:  | status_code: 200
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.547819791+00:00  DEBUG    HTTP request [ 69.6µs | 100.00% ] method: "GET" | uri: "/static/main.js"
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.547892191+00:00  DEBUG    ┕━ 🐛 [debug]:  | status_code: 200
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684050488+00:00  DEBUG    HTTP request [ 77.1µs | 100.00% ] method: "POST" | uri: "/api/graphql"
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684147820+00:00  ERROR    ┝━ 🚨 [error]:  | error: AuthenticationError { challenge: Bearer { scope: None, realm: None, error: None, error_description: None, error_uri: None }, status_code: 401 }
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684151804+00:00  WARN     ┕━ 🚧 [warn]: Error encountered while processing the incoming HTTP request: AuthenticationError { challenge: Bearer { scope: None, realm: None, error: None, error_description: None, error_uri: None }, status_code: 401 }
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684259131+00:00  DEBUG    HTTP request [ 11.1µs | 100.00% ] method: "POST" | uri: "/api/graphql"
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684269412+00:00  ERROR    ┝━ 🚨 [error]:  | error: AuthenticationError { challenge: Bearer { scope: None, realm: None, error: None, error_description: None, error_uri: None }, status_code: 401 }
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684271052+00:00  WARN     ┕━ 🚧 [warn]: Error encountered while processing the incoming HTTP request: AuthenticationError { challenge: Bearer { scope: None, realm: None, error: None, error_description: None, error_uri: None }, status_code: 401 }
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684339606+00:00  DEBUG    HTTP request [ 15.0µs | 100.00% ] method: "GET" | uri: "/settings"
Mar 12 19:00:41 athena lldap-start[7260]: 2026-03-12T19:00:41.684354843+00:00  DEBUG    ┕━ 🐛 [debug]:  | status_code: 200
```

**Additional context**
lldap 0.6.2

I haven't looked, but it is possible the bug is not in lldap, but in an upstream library.
